#IGNORA ARCHIVOS DE PYTHON COMPILADOS
__pycache__/
*.pyc

#IGNORA ARCHIVOS DE CONFIGURACION DE DOCKER
.dockerignore
Dockerfile  

#IGNORA ARCHIVOS DE CONFIGURACION DE VSCODE
.vscode/

#IGNORA ARCHIVOS DE CONTROL DE VERSIONES
.git/
.gitignore

#IGNORA ARCHIVOS DE ENTORNOS VIRTUALES
venv/   

#IGNORA ARCHIVOS DE TESTEO Y EJEMPLOS
tests/
examples/

#IGNORA ARCHIVOS INNESARIOS
*.log
*.tmp



